doctype html
html
  head
    style
      include ../static/style.css
  body
  


section#intro-section 
        h2  Welcome to the PRIYA'S dance academy
        h3 Eat sleep Dance and repeate.

section#missionSection
        h2 Our Mission
        div.card-wrapper     
            div.card
                h3 Dance Perfection
                div.card-box
                        div.card-img    
                                img(src="/static/img/1.png")
                        div.card-content
                                p This is the best dance academy of the universe

            div.card
                h3 Dance the way you like
                div.card-box
                        div.card-img
                                img(src="/static/img/2.png")
                        div.card-content
                                p This is the best dance academy of the universe

            div.card
                h3 Expert Teaching
                div.card-box
                        div.card-img
                                img(src="/static/img/3.png")

                        div.card-content
                                p This is the best dance academy of the universe

section#Sponcer-section     
       h2 Our Sponcers 
       div#sponcers
                img(src="/static/img/aple.png", alt="", class="sp-image")
                img(src="/static/img/nike.png", alt="", class="sp-image")
                img(src="/static/img/new.png", alt="", class="sp-image")
                img(src="/static/img/adidas.png", alt="", class="sp-image")
                
section#section-footer  
        h2 Our Footer section
        | Copyrigth © 2021 PRIYA'SDanceAcademy.com
script
      include ../static/index.js